body { 
    background: black;
    background: url(./background.png) no-repeat; 
    background-size: cover;
    background-position: top;
    background-attachment: fixed
}
.mainContainer{
    width: 75%;
    margin: 25px auto
}
.fcrcHeader{
    font-family: 'Cinzel', serif;
    color: #91d68b;
    text-shadow: 5px 5px 5px #842457;
}
#fileInput{
    width: 50%;
    margin: auto
}
#textarea{
    color: white;
    text-align: center
}
#fileButton, #sendButton{
    background: #91d68b;
    border: 2px solid #671c44;
    border-radius: 10px
}
#fileButton:hover{
    background: #671c44;
    border: 2px solid #91d68b;
}
#sendButton:hover{
    background: #671c44;
    border: 2px solid #91d68b;
}
.subList{
    background: url(./rainbow.png); 
    background-size: cover;
    background-repeat: round;
    padding: 20px !important;
    margin: auto; 
    opacity: 0.9
}
.subs{
    font-family: 'Cinzel', serif;
    color: #91d68b;
}
/* OVER 800px */
@media only screen and ( min-width: 800px ) {
    .subList{
        width: 40%;
        padding: 40px !important
    }
    .subs{
        font-size: 25px
    }
}